<div class="container mt-5 form">
  <h2>Add a new list</h2>
  <p>Keep track of which movies and shows you've seen already and which ones you want to save for later.</p>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Back", lists_path, class: "btn btn-primary" %>
  <% end %>
</div>

<!--footer-->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
