.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: rgb(233, 217, 6);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 5vw;
  font-weight: bold;
  font-family: $brand-font;
  padding-top: 480px;
  opacity: 0.8;
}
