.button-add {
  margin-bottom: 16px;
  word-spacing: 4px;

  a {
    text-decoration: none;
  }
}

.button-text p {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 700;
  color: white;

  &:hover {
    color: #A0A1A1;
  }
}
