/*Card pick*/
.card-new-trip {
  overflow: hidden;
  height: 100%;
  border: 2px dotted rgb(240, 232, 232);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color:rgb(160, 161, 161);
    transition: 0.2s ease-out;
    transform: translateY(-8px);
  }

  h2 {
    text-align: center;
    color: rgb(240, 232, 232);
  }
}


.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 250px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);

  &:hover {
    /*customizable*/
    transition: 0.2s ease-out;
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color:rgb(160, 161, 161);
  }
}
.card-pick img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  /*customizable*/
  padding: 24px 16px;
}
.card-pick-info h2 {
  /*customizable*/
  margin: 0;
}

.card-text {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: center;
}
