.navbar-listo {
  justify-content: space-between;
  background: white;

  #logo {
    font-size: 32px;
    color: rgb(88, 221, 212);
  }

  #brand-name {
    font-family: $brand-font;
    font-size: 30px;
    color: darkred;
    letter-spacing: 2px;
    margin-left: 4px;
  }
}

.navbar-listo .navbar-collapse {
  flex-grow: 0;
}

.navbar-listo .navbar-brand img {
  width: 40px;
}
